body{background-image:url('library.jfif');
background-repeat:no-repeat;
background-size:120% 
}

h1{text-align:center;
color:red
}

ins{font-size:28px;
font-weight:bold;
margin-left:600px;
color:red}

strong{color:purple;
font-size:20px;
}

#qwerty{background-color:lightblue;
margin-left:20px;
width:80px;
border-radius:20px}


div{margin-left:800px;
margin-top:150px;
border-radius:4px}


label{font-size:20px;
font-weight:bold;
margin-left:40px}


input{height:30px;
width:250px;color:green;
outline:0px;
text-align:center;
margin-top:10px;
background-color:white;
box-shadow:1px 1px 10px blue;
}

input:hover{background-color:black}


.list{border-radius:20px;
background-color:lightblue;
height:30px;
width:120px;
text-align:center;
margin-left:60px}




fieldset{height:60px;
width:600px; 
color:cyan;
font-size:25px;
margin-left:700px;
margin-top:100px;
padding-bottom:30px
}


#ask{background:transparent;
border:0px;
height:30px;
width:120px
}

#select{margin-left:900px;
padding-top:10px;
background-color:lightblue;
margin-top:15px;
height:30px;
width:140px;
border-radius:20px
}


#any{margin-left:180px;
background-color:lightblue;
height:30px;
width:120px;
border-radius:20px}

#win{ height:30px;
width:250px}